#include <windows.h>
#include "main.h"

BMP_WALLBH    BITMAP  .\assets\bitmaps\WALLBH.bmp
BMP_WALLBV    BITMAP  .\assets\bitmaps\WALLBV.bmp
BMP_WALLB1    BITMAP  .\assets\bitmaps\WALLB1.bmp
BMP_WALLB2    BITMAP  .\assets\bitmaps\WALLB2.bmp
BMP_WALLB3    BITMAP  .\assets\bitmaps\WALLB3.bmp
BMP_WALLB4    BITMAP  .\assets\bitmaps\WALLB4.bmp
BMP_WALLBL    BITMAP  .\assets\bitmaps\WALLBL.bmp
BMP_WALLBR    BITMAP  .\assets\bitmaps\WALLBR.bmp
BMP_WALLBU    BITMAP  .\assets\bitmaps\WALLBU.bmp
BMP_WALLBD    BITMAP  .\assets\bitmaps\WALLBD.bmp

BMP_WALLGH    BITMAP  .\assets\bitmaps\WALLGH.bmp
BMP_WALLGV    BITMAP  .\assets\bitmaps\WALLGV.bmp
BMP_WALLG1    BITMAP  .\assets\bitmaps\WALLG1.bmp
BMP_WALLG2    BITMAP  .\assets\bitmaps\WALLG2.bmp
BMP_WALLG3    BITMAP  .\assets\bitmaps\WALLG3.bmp
BMP_WALLG4    BITMAP  .\assets\bitmaps\WALLG4.bmp
BMP_WALLGL    BITMAP  .\assets\bitmaps\WALLGL.bmp
BMP_WALLGR    BITMAP  .\assets\bitmaps\WALLGR.bmp
BMP_WALLGU    BITMAP  .\assets\bitmaps\WALLGU.bmp
BMP_WALLGD    BITMAP  .\assets\bitmaps\WALLGD.bmp

BMP_WALLRH    BITMAP  .\assets\bitmaps\WALLRH.bmp
BMP_WALLRV    BITMAP  .\assets\bitmaps\WALLRV.bmp
BMP_WALLR1    BITMAP  .\assets\bitmaps\WALLR1.bmp
BMP_WALLR2    BITMAP  .\assets\bitmaps\WALLR2.bmp
BMP_WALLR3    BITMAP  .\assets\bitmaps\WALLR3.bmp
BMP_WALLR4    BITMAP  .\assets\bitmaps\WALLR4.bmp
BMP_WALLRL    BITMAP  .\assets\bitmaps\WALLRL.bmp
BMP_WALLRR    BITMAP  .\assets\bitmaps\WALLRR.bmp
BMP_WALLRU    BITMAP  .\assets\bitmaps\WALLRU.bmp
BMP_WALLRD    BITMAP  .\assets\bitmaps\WALLRD.bmp

BMP_PAC0      BITMAP  .\assets\bitmaps\PAC00.bmp
BMP_PAC1      BITMAP  .\assets\bitmaps\PAC01.bmp
BMP_PAC2      BITMAP  .\assets\bitmaps\PAC02.bmp
BMP_PAC3      BITMAP  .\assets\bitmaps\PAC03.bmp
BMP_PAC4      BITMAP  .\assets\bitmaps\PAC04.bmp
BMP_PAC5      BITMAP  .\assets\bitmaps\PAC05.bmp
BMP_PAC6      BITMAP  .\assets\bitmaps\PAC06.bmp
BMP_PAC7      BITMAP  .\assets\bitmaps\PAC07.bmp
BMP_PAC8      BITMAP  .\assets\bitmaps\PAC08.bmp
BMP_PAC9      BITMAP  .\assets\bitmaps\PAC09.bmp
BMP_PAC10     BITMAP  .\assets\bitmaps\PAC10.bmp
BMP_PAC11     BITMAP  .\assets\bitmaps\PAC11.bmp
BMP_PAC12     BITMAP  .\assets\bitmaps\PAC12.bmp
BMP_PAC13     BITMAP  .\assets\bitmaps\PAC13.bmp
BMP_PAC14     BITMAP  .\assets\bitmaps\PAC14.bmp
BMP_PAC15     BITMAP  .\assets\bitmaps\PAC15.bmp
BMP_PAC16     BITMAP  .\assets\bitmaps\PAC16.bmp
BMP_PAC17     BITMAP  .\assets\bitmaps\PAC17.bmp
BMP_PAC18     BITMAP  .\assets\bitmaps\PAC18.bmp
BMP_PAC19     BITMAP  .\assets\bitmaps\PAC19.bmp
BMP_PAC20     BITMAP  .\assets\bitmaps\PAC20.bmp
BMP_PAC21     BITMAP  .\assets\bitmaps\PAC21.bmp
BMP_PAC22     BITMAP  .\assets\bitmaps\PAC22.bmp
BMP_PAC23     BITMAP  .\assets\bitmaps\PAC23.bmp

BMP_GHOST00   BITMAP  .\assets\bitmaps\GHOSTBR1.bmp
BMP_GHOST01   BITMAP  .\assets\bitmaps\GHOSTBD1.bmp
BMP_GHOST02   BITMAP  .\assets\bitmaps\GHOSTBL1.bmp
BMP_GHOST03   BITMAP  .\assets\bitmaps\GHOSTBU1.bmp
BMP_GHOST04   BITMAP  .\assets\bitmaps\GHOSTBR2.bmp
BMP_GHOST05   BITMAP  .\assets\bitmaps\GHOSTBD2.bmp
BMP_GHOST06   BITMAP  .\assets\bitmaps\GHOSTBL2.bmp
BMP_GHOST07   BITMAP  .\assets\bitmaps\GHOSTBU2.bmp
BMP_GHOST08   BITMAP  .\assets\bitmaps\GHOSTGR1.bmp
BMP_GHOST09   BITMAP  .\assets\bitmaps\GHOSTGD1.bmp
BMP_GHOST10   BITMAP  .\assets\bitmaps\GHOSTGL1.bmp
BMP_GHOST11   BITMAP  .\assets\bitmaps\GHOSTGU1.bmp
BMP_GHOST12   BITMAP  .\assets\bitmaps\GHOSTGR2.bmp
BMP_GHOST13   BITMAP  .\assets\bitmaps\GHOSTGD2.bmp
BMP_GHOST14   BITMAP  .\assets\bitmaps\GHOSTGL2.bmp
BMP_GHOST15   BITMAP  .\assets\bitmaps\GHOSTGU2.bmp
BMP_GHOST16   BITMAP  .\assets\bitmaps\GHOSTRR1.bmp
BMP_GHOST17   BITMAP  .\assets\bitmaps\GHOSTRD1.bmp
BMP_GHOST18   BITMAP  .\assets\bitmaps\GHOSTRL1.bmp
BMP_GHOST19   BITMAP  .\assets\bitmaps\GHOSTRU1.bmp
BMP_GHOST20   BITMAP  .\assets\bitmaps\GHOSTRR2.bmp
BMP_GHOST21   BITMAP  .\assets\bitmaps\GHOSTRD2.bmp
BMP_GHOST22   BITMAP  .\assets\bitmaps\GHOSTRL2.bmp
BMP_GHOST23   BITMAP  .\assets\bitmaps\GHOSTRU2.bmp
BMP_GHOST24   BITMAP  .\assets\bitmaps\GHOSTSR1.bmp
BMP_GHOST25   BITMAP  .\assets\bitmaps\GHOSTSD1.bmp
BMP_GHOST26   BITMAP  .\assets\bitmaps\GHOSTSL1.bmp
BMP_GHOST27   BITMAP  .\assets\bitmaps\GHOSTSU1.bmp
BMP_GHOST28   BITMAP  .\assets\bitmaps\GHOSTSR2.bmp
BMP_GHOST29   BITMAP  .\assets\bitmaps\GHOSTSD2.bmp
BMP_GHOST30   BITMAP  .\assets\bitmaps\GHOSTSL2.bmp
BMP_GHOST31   BITMAP  .\assets\bitmaps\GHOSTSU2.bmp
BMP_GHOST32   BITMAP  .\assets\bitmaps\GHOSTDR1.bmp
BMP_GHOST33   BITMAP  .\assets\bitmaps\GHOSTDD1.bmp
BMP_GHOST34   BITMAP  .\assets\bitmaps\GHOSTDL1.bmp
BMP_GHOST35   BITMAP  .\assets\bitmaps\GHOSTDU1.bmp
BMP_GHOST36   BITMAP  .\assets\bitmaps\GHOSTDR2.bmp
BMP_GHOST37   BITMAP  .\assets\bitmaps\GHOSTDD2.bmp
BMP_GHOST38   BITMAP  .\assets\bitmaps\GHOSTDL2.bmp
BMP_GHOST39   BITMAP  .\assets\bitmaps\GHOSTDU2.bmp
BMP_GHOST40   BITMAP  .\assets\bitmaps\GHOSTER.bmp
BMP_GHOST41   BITMAP  .\assets\bitmaps\GHOSTED.bmp
BMP_GHOST42   BITMAP  .\assets\bitmaps\GHOSTEL.bmp
BMP_GHOST43   BITMAP  .\assets\bitmaps\GHOSTEU.bmp

BMP_FOOD00    BITMAP  .\assets\bitmaps\food00.bmp
BMP_FOOD01    BITMAP  .\assets\bitmaps\food01.bmp
BMP_FOOD02    BITMAP  .\assets\bitmaps\food02.bmp
BMP_FOOD03    BITMAP  .\assets\bitmaps\food03.bmp
BMP_FOOD04    BITMAP  .\assets\bitmaps\food04.bmp
BMP_FOOD05    BITMAP  .\assets\bitmaps\food05.bmp
BMP_FOOD06    BITMAP  .\assets\bitmaps\food06.bmp
BMP_FOOD07    BITMAP  .\assets\bitmaps\food07.bmp
BMP_FOOD08    BITMAP  .\assets\bitmaps\food08.bmp
BMP_FOOD09    BITMAP  .\assets\bitmaps\food09.bmp
BMP_FOOD10    BITMAP  .\assets\bitmaps\food10.bmp
BMP_FOOD11    BITMAP  .\assets\bitmaps\food11.bmp
BMP_FOOD12    BITMAP  .\assets\bitmaps\food12.bmp
BMP_FOOD13    BITMAP  .\assets\bitmaps\food13.bmp
BMP_FOOD14    BITMAP  .\assets\bitmaps\food14.bmp
BMP_FOOD15    BITMAP  .\assets\bitmaps\food15.bmp
BMP_FOOD16    BITMAP  .\assets\bitmaps\food16.bmp
BMP_FOOD17    BITMAP  .\assets\bitmaps\food17.bmp
BMP_FOOD18    BITMAP  .\assets\bitmaps\food18.bmp
BMP_FOOD19    BITMAP  .\assets\bitmaps\food19.bmp
